*{
    margin: o;
    padding: o;
    font-family: sans-serif;
   
}
body{
    background-image: url(../images/josh-rose-trYl7JYATH0-unsplash.jpg);
    background-size: cover;
}
.navbar ul{
    display: flex;
    list-style-type: none;
    position: absolute;
    top: 5%;
    left: 60%;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 500;
}
 
.navbar ul li a:hover{
    color:rgb(226, 43, 73);
}

.logo{
    color:aquamarine;
    font-weight: 600;
    font-style: italic;
    font-size: 1.6rem;
    margin-left: 30px;
    margin-top: 10px;
}

.detail{
    margin-right: 8%;
    margin-bottom: 5%;
    color: wheat;
}
.detail h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
#personal{
    color: #ff0;
    font-size: 45px;
}

.content{
    display: flex;
}
span{
    color:chocolate
}
.list{
    color:#ff0;
}
.list lo li a:hover{
    color: red;
    font-size: x-large;
}
.images{
    width: 45px;
    height: 80%;
}    