*{
    margin: o;
    padding: o;
    font-family: sans-serif;
   
}
.navbar{
    width: 100%;
    color: #fff;
    background-color: blueviolet;
    height: 70px;
}
.navbar .container{
    max-width: 12oopx;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
nav{
    display: flex;
}
nav ul{
    display: flex;
    margin-right: 10px;
}
   
